body {
  margin: 0;
}
.font1_5em {
  font-size: 1.5em;
}
.font3em {
  font-size: 3em;
}
.font4em {
  font-size: 4em;
}
.round {
  border-radius: 50%;
}
.width250px {
  width: 250px;
}
.width80 {
  width: 80%;
}
.marginAuto {
  margin: 0 auto;
}
.margin05em {
  margin: 0.5em;
}
.marginTop1em {
  margin-top: 1em;
}
.marginBottom2em {
  margin-bottom: 2em;
}
.zIndex10 {
  z-index: 10;
}
.textAlignCenter {
  text-align: center;
}
.primary {
  color: var(--primary);
}
.secondaryDark {
  color: var(--secondaryDark);
}
.primaryButton {
  background-color: var(--primaryDark);
  color: var(--secondary);
}
.primaryButton,
.secondaryButton {
  font-weight: 600;
  padding: 10px 30px;
  border: none;
  border-radius: 6px;
}
.secondaryButton {
  background-color: var(--secondaryDark);
  color: var(--primary);
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.intro {
  background-image: url("./images/intro-bg.jpeg");
  background-size: cover;
  color: var(--secondary);
  background-color: var(--primaryDark);
  background-blend-mode: darken;
}
.flexCenter,
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
}
